<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedUser Management</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css">
</head>
<body class="h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
        <h3 class="float-md-start mb-0 text-white">RedUsers Management</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end text-white">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/user/add">Add User</a>
        </nav>
        </div>
    </header>
    
    <main class="px-3 container">
        <p class="lead">
        {{{body}}}
        </p>
    </main>

    <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
    </div>
</body>
</html>